node_modules
**/node_modules
**/venv
**/.venv
**/.deps
**/vendor

build
**/build
**/staticfiles
**/media
**/__pycache__
**/*.pyc

.git
.gitignore

**/.env
**/db.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
